/* .figure{
  width: 1520px;
  height: 10px;
  background:rgb(184, 223, 191);
  text-align: center;
} */
@font-face{
  src: url("../fonts/HoengseongHanu.ttf");
  font-family: "jua";
}
@font-face {
  font-family: "godic";
  src: url("../fonts/MinSans-Regular.ttf");
}
@font-face {
  font-family: "godic_b";
  src: url("../fonts/MinSans-Bold.ttf");
}

h1{
  font-family: "godic_b";
  text-align: center;
  font-size: 32px;
}
.emphasis{
  font-family: "godic";
  font-weight: bolder;
  font-size: 35px;
}

.emhasis2{
  font-family:"godic";
  font-weight: bolder;
  font-size: 30px;
}
p{
  font-family: "godic";
  font-size: 19px;

}
.plan{
  margin-left: 80px;
  margin-top:70px;
}
.title{
  margin-top: 40px;
}

body{
  margin:0;
}

header img{
  margin-left: 30px;
}

/* .nav-container{
  display: flex;
  flex-direction: row;
  width:100%;
  margin: 0;
  padding: 0;
  background-color: darkslategrey;
  list-style-type: none;
  font-size: 20px;
  color:white;
  font-family: "godic";
  /* justify-content: center; */
  align-items: center;
  
}

.nav-item{
  padding:15px;
  cursor: pointer;
  text-align: center;
}

.nav-item a {
  text-align: center;
  text-decoration: none;
  color:white;

} */
/* 
#footer{
  position: fixed;
  background-color: white; 
  left: 0;
  right: 0;
  bottom: 0;
  height: 3rem;
} */
/* .nav-contain{
  display: flex; 
  /* flex여야 가운데 정렬 가능 */
  flex-direction: row;
  width:30%;
  height:10%;
  margin: 0;
  padding: 0;
  margin-left:440px;
  
  background-color: rgb(116, 156, 128);
  list-style-type: none;
  font-size: 20px;
  color:white;
  font-family: "godic";
  justify-content: center;
  align-items: center;
}

.nav-it{
  padding:15px;
  cursor: pointer;
  text-align:center;
  display: inline-block;
}

.nav-it a {
  text-align: center;
  text-decoration: none;
  color:white;
} */

