<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="#">
  <title>수화 인식</title>
  <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='./css/webstyle.css') }}">
</head>
<body>
  {% include "navbar.html" %}
  {% block content %}
  {% endblock %}
  <h2>수화인식</h2>
  <div>
    <img src="{{ url_for('video_feed')}}" width = "80%">
  </div>
</body>
</html>