<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='./css/planstyle.css') }}"> 
  <link rel="shortcut icon" href="#">
  <title>기획의도(첫 화면)</title>
</head>
<body>
  {% include "navbar.html" %}
  {% block content %}
  {% endblock %}
  <!-- <img src="../static/seoul yeouido in morning light.jpg" style="float: right; margin-left: 10px; margin-bottom: 20px; margin-top: 25px; margin-right: 40px; "> -->
  <img src="../static/수화 고맙습니다 일러스트 ai 다운로드.jpg" style="float:right; margin-right: 50px; margin-top: 0px; width:500px;">
  <div class="plan">
    <!-- <p class="emphasis">기획 의도</p> -->
    
    <p>
      현재 인공지능 기술로 인해 많은 사람들이 편리함과 즐거움을 얻고 있습니다.<br>
      그러나 많은 발전이 이루어진 인공지능 기술이 소수의 장애인들에게 맞춰 설계된 것이 아니기 때문에<br>
      비장애인들은 여전히 불편함 속에서 살아가고 있습니다. <br>
    </p>
    <p>
      장애의 여부로 사람들을 나누지 않고, 평등하게 살아갈 수 있는 기회를ㄴ
      그런데 이렇게 인공지능으로 편해진 생활을,<br>
      장애를 가진 분들은 온전히 누릴 수 없는 것인가?</p>
    <p>
      그러한 생각들을 하다가, <br>
    </p>
    <p>
      <b>“장애인들도 비장애인들과 똑같이 콘텐츠를 이용할 수 있는 사회를 만들어야 한다.”</b><br>
    </p>
    <p>  
      라는 저희 기획의 핵심 주제를 결정하게 되었습니다.
    </p>
    <p>
      어렸을 적에 청각을 잃은 사람에게는 수어가 그들의 언어와 같기 때문에<br>
      언어 전달이 자막이 아니라 수화를 통해서 더 잘 된다고 합니다.<br>
    </p>
    <p> 
      또한, 수화 통역과 자막을 동시에 비교하며 보아야 내용을 더 정확하게 알 수 있기 때문에<br>
      농인들에게는 수화 통역과 자막 둘 모두가 필요합니다.
    </p>
    <p>
      실제로 현재 제공되고 있는 수화통역서비스는 각 지역의 장애복지관에 수화 통역사를 배치하여 <br>
      1:1 면대면이나 영상통화를 통해 서비스를 제공하는데, 대도시가 아닌 농어촌 지역에서는
      수화통역사가 부족한 것이 현실입니다.<br>
    </p>
    <p>  
      인공지능기술을 이용해 장애인분들의 불편함이 해소되길 바랍니다.
    </p>
  </div>
  
</body>
</html>